<div class="main-page-header">
  <div class="row">
    <div class="col-12">
      <button nbButton size="tiny" status="primary" ghost (click)="goBack()"><nb-icon icon="arrow-back-outline"></nb-icon> Back to Customers</button>
      <button nbButton (click)="call()" size="tiny" status="primary" style="float: right;"><nb-icon icon="phone-outline"></nb-icon> Call</button>
      <button nbButton (click)="email()" size="tiny" status="primary" style="float: right; margin-right: 11px;" outline><nb-icon icon="email-outline"></nb-icon> Email</button>
    </div>
    <div class="col-12 header-row">
      <img [src]="customer?.picture?.thumbnail" alt="customer-profile-image" />
      <div class="row">
        <div class="col-12">
          <h5>{{customer?.name?.title}} {{customer?.name?.first}} {{customer?.name?.last}}</h5>
          <p>Registered: {{customer?.registered?.date | date: 'dd/MM/YYYY'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<nb-card>
  <nb-card-header>
    <span><nb-icon icon="person-outline"></nb-icon> Contact Details</span>
  </nb-card-header>
  <nb-card-body>
    <p><strong>Title:</strong> {{customer?.name?.title}}</p>
    <p><strong>First Name:</strong> {{customer?.name?.first}}</p>
    <p><strong>Last Name:</strong> {{customer?.name?.last}}</p>
    <p><strong>Date of Birth:</strong> {{customer?.dob?.date | date: 'dd/MM/YYYY'}} ({{customer?.dob?.age}} years old)</p>
    <p><strong>Gender:</strong> {{customer?.gender}}</p>
    <hr>
    <p><nb-icon icon="email-outline"></nb-icon> <a href="mailto:{{customer?.email}}">{{customer?.email}}</a></p>
    <p><nb-icon icon="phone-outline"></nb-icon> <a href="tel:{{customer?.phone}}">{{customer?.phone}}</a> (phone)</p>
    <p><nb-icon icon="phone-outline"></nb-icon> <a href="tel:{{customer?.cell}}">{{customer?.cell}}</a> (mobile)</p>
    <hr>
    <p><strong>Address:</strong></p>
    <div class="address-container">
      <p>{{customer?.location?.street?.number}} {{customer?.location?.street?.name}}</p>
      <p>{{customer?.location?.city}}</p>
      <p>{{customer?.location?.state}}</p>
      <p>{{customer?.location?.country}}</p>
      <p>{{customer?.location?.postcode}}</p>
    </div>
  </nb-card-body>
</nb-card>
