/* You can add global styles to this file, and also import other style files */
@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

.ag-header {
  background-color: color(srgb 0.9668 0.9768 0.9896);
  border-bottom: 1px solid #e5e5e5;
}

.ag-root-wrapper {
  border: 1px solid #e5e5e5;
}

nb-layout-header nav {
  box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
}
